/* Resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* This is proper technique to adjust the size of all things on the page. */
  /* We don't want to use pixels here either because then it will overwrite the default size of the browser. */
  /* People with visual impairments will change the default font size of their browser and we dont want to disable that. */
  /* Using % allows the user to continue to increase their own font size, but then also automatically "zooms" in the page for them. */
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box;
  /* this lives here instead of on the * selector so we use the power of inheritance */
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  height: 3.5rem;
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  text-transform: uppercase;
  color: white;
  margin-bottom: 6rem;
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  -webkit-animation: moveInLeft 1.5s;
  animation: moveInLeft 1.5s;
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.74rem;
  -webkit-animation: moveInRight 1.5s;
  animation: moveInRight 1.5s;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1.5rem);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1.5rem);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(1.5rem);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(1.5rem);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.4rem;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.6s;
}
.btn--white::after {
  background-color: #fff;
}
.btn:hover::after {
  transform: scale(2);
  opacity: 0;
}
.btn--animated {
  -webkit-animation: moveInBottom 1.5s ease-out 0.75s;
  animation: moveInBottom 1.5s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

/*# sourceMappingURL=style.css.map */
